*{
    padding: 0;
    margin:0;
}

body{
    padding: 0 10px;
    text-align: center;
    font-size: 18px;
}

h1{
    font-size: 32px;
    margin-bottom: 10px;
}

img{
    margin-bottom: 10px;
}

h3{
    margin: 10px 0px;
}

p{
    line-height: 1.5rem;
}

.strong{
    font-weight: bold;
}

li{
    margin: 0.5rem 0;
}